<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/admin">Admin Page</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/dashboard">Main <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin/create">Create</a>
      </li>
      <li class="nav-item absoluter">
        <button class="btn btn-danger" (click)="redirect()">Log Out</button>
      </li>
    </ul>

  </div>
</nav>
<div class="container"><router-outlet></router-outlet></div>

